[submodule "Packages/com.geuneda.inputextensions"]
	path = Packages/com.geuneda.inputextensions
	url = https://github.com/geuneda/geuneda-inputextensions.git
[submodule "Packages/com.geuneda.services"]
	path = Packages/com.geuneda.services
	url = https://github.com/geuneda/geuneda-services.git
[submodule "Packages/com.geuneda.statechart"]
	path = Packages/com.geuneda.statechart
	url = https://github.com/geuneda/geuneda-statechart.git
[submodule "Packages/com.geuneda.uiservice"]
	path = Packages/com.geuneda.uiservice
	url = https://github.com/geuneda/geuneda-uiservice.git
[submodule "Packages/com.geuneda.googlesheetimporter"]
	path = Packages/com.geuneda.googlesheetimporter
	url = https://github.com/geuneda/geuneda-googlesheetimporter.git
[submodule "Packages/com.geuneda.notificationservice"]
	path = Packages/com.geuneda.notificationservice
	url = https://github.com/geuneda/geuneda-notificationservice.git
[submodule "Packages/com.geuneda.nativeui"]
	path = Packages/com.geuneda.nativeui
	url = https://github.com/geuneda/geuneda-nativeui.git
[submodule "Packages/com.geuneda.assetsimporter"]
	path = Packages/com.geuneda.assetsimporter
	url = https://github.com/geuneda/geuneda-assetsimporter.git
[submodule "Packages/com.geuneda.gamedata"]
	path = Packages/com.geuneda.gamedata
	url = https://github.com/geuneda/geuneda-gamedata.git
